
./.DS_Store
microPortable/.DS_Store
microPortable/App/.DS_Store
microPortable/App/AppInfo/.DS_Store
Data/PortableApps.comLauncherRuntimeData-microPortable.ini
Data/settings/microPortableSettings.ini
pac_installer_log.ini
microPortable/Other/Source/PortableApps.comInstaller*
*.paf.exe
microPortable/*.exe